<div class="container">
    <div class="content">
        <div class="main">
            <section>
                <div class="account-info">
                    <div class="service-pay">
                        <h5 class="service-tittle"> Pagos de servicios y facturas</h5>
                        <p>Paga a tiempo tus servicios básicos con tu cuenta de ahorros <br>a través de nuestro servicio
                            de PAGOS</p>
                    </div>
                    <div class="balance-card">
                        <label for=""> {{company}} </label> <br>
                        <label for=""> Contrapartida: {{contrapartida}} </label> <br>
                        <label for=""> Nombre: {{deudor}} </label> <br>
                        <label for=""> CI o RUC: {{identificacion}} </label> <br>
                        <label for=""> Fecha Vencimiento: {{dueDate}} </label> <br>
                        <label for=""> Valor Adeudado: {{deuda}} </label> <br>
                        <span for=""> + comision: {{comision}}</span> <br>
                        <p> + iva: {{iva}} </p> <br>
                        <label for=""> Total a pagar: {{total}}</label>
                    </div>
                </div>
            </section>
            <div class="footer">
                <section class="button_clean">
                    <button class="mis_productos" (click)="redirectToCancel()"> Cancelar </button>
                </section>
                <section class="button_next">
                    <button class="mis_productos button_aling" (click)="redirectToNext()"> Pagar </button>
                </section>
            </div>
        </div>
    </div>
</div>