<div class="container">
    <div class="content">
        <div class="main">
            <div>
                <p> DESDE: </p>
            </div>
            <div class="account-info">
                <div class="account-title">
                    CUENTA DE AHORRO TRANSACCIONAL
                </div>
                <div class="account-number">{{ accountNumber }} </div>
                <section class="button_next">
                    <div class="balance-amount">{{ balance }}</div>
                </section>
            </div>
            <div>
                <p> PARA:</p>
            </div>
            <div class="account-info">
                <div class="account-title">
                    {{userAcreditor}}
                </div>
                <div class="account-number">{{ accountAcreditor }} </div>
                <section class="button_next">
                    <div class="balance-amount">{{ valueAcreditor }}</div>
                </section>
            </div>
            <div class="footer">
                <section class="button_clean">
                    <div>
                        <button class="mis_productos "> Limpiar </button>
                    </div>
                </section>
                <section class="button_next">
                    <div>
                        <button class="mis_productos"> Continuar </button>
                    </div>
                </section>

            </div>

        </div>
    </div>
</div>