<div class="container">
    <div class="content">
        <div class="main">
            <div class="account-info">
                <div class="account-title">
                    CUENTA DE AHORRO TRANSACCIONAL
                </div>
                <div class="account-number">{{ accountNumber }} </div>
                <section class="button_next">
                    <div class="balance-amount">{{ balance }}</div>
                </section>
            </div>
            <section class="form_transferencia">
                <div class="account-info">
                    <label for=""> Monto: </label> <br>
                    <input type="text">
                    <br>
                    <label for=""> Beneficiario: </label> <br>
                    <input type="text">
                    <br>
                    <label for=""> Numero de Cuenta: </label> <br>
                    <input type="text">
                </div>
            </section>
            <div class="footer">
                <section class="button_clean">
                    <div>
                        <button class="mis_productos "> Limpiar </button>
                    </div>
                </section>
                <section class="button_next">
                    <div>
                        <button class="mis_productos"> Continuar </button>
                    </div>
                </section>

            </div>

        </div>
    </div>
</div>