<main>
    <section class="sectionH1">
        <h1 class="titlePage"> BIENVENIDO A TU BANCA WEB</h1>
        <section class="sectionImg">
            <img src="/assets/blacklogo-BanQuito-bgwhite.png" alt="not found">
            <h2 class="iconBanquito">BANCO<br>BANQUITO</h2>
        </section>
    </section>
    <section class="sectionForm">
        <div class="login-content">
        <form class="login-form">
            <div>
                <mat-icon class="icon-transference">check_circle</mat-icon>
                <p class="tranference-success"> Usuario registrado exitosamente</p>
            </div>

            <input type="button" value="Regresar a Banca Web" (click)="onSubmit()" >
        </form>
    </div>
    </section>
</main>