<div class="container">
    <div class="header">
        <div class="logo">
            <img src="/assets/logoNav.png" alt="logo" />
        </div>
        <div class="user-info">
            <span>{{ userName }}</span>
            <mat-icon>account_circle</mat-icon>
        </div>
    </div>
    <div class="content">
        <div class="sidebar">
            <div class="mis_productos">
                <mat-icon class="icon">menu</mat-icon><span class="mis_productos">MIS PRODUCTOS</span>
            </div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    {{node.name}}
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.name}}
                </mat-tree-node>
            </mat-tree>
            <div class="logout">
                <mat-icon class="icon">logout</mat-icon><a href="/login" class="mis_productos">Cerrar Sesion</a>
            </div>
        </div>

        <div class="main">
           <section class="tranference-card">
            <div class="account-info">
                <div>
                    <mat-icon class="icon-transference">check_circle</mat-icon>
                    <p class="tranference-success"> Transacción Exitosa</p> 
                </div>
                <div class="balance-card">
                    <label for=""> Valor: {{valueAcreditor}} </label> <br>
                    <label for=""> Desde: {{accountNumber}} </label> <br>
                    <label for=""> Para: {{userAcreditor}} </label> <br>
                    <label for=""> {{accountAcreditor}} </label> <br>
                    <label for=""> Fecha: 15/06/2024 </label> <br>
                </div>
                <div class="footer-check">
                    <a href="">Imprimir  comprobante</a> <br>
                    <a href="">Volver a Mis Productos</a>
                </div>

            </div>
        </section>
            <div class="footer">
                <section class="button_clean">
                    <div>
                        <button class="mis_productos "> Limpiar </button>
                    </div>
                </section>
                <section class="button_next">
                    <div>
                        <button class="mis_productos"> Continuar </button>
                    </div>
                </section>

            </div>

        </div>
    </div>
</div>