<div class="container">
        <div class="content">
            <div class="main">
                <section class="tranference-card">
                    <div class="account-info">
                        <div>
                            <mat-icon class="icon-transference">check_circle</mat-icon>
                            <p class="tranference-success"> Transacción Exitosa</p>
                        </div>
                        <div class="balance-card">
                            <label for=""> Valor: {{valueAcreditor}} </label> <br>
                            <label for=""> Desde: {{accountNumber}} </label> <br>
                            <label for=""> Para: {{userAcreditor}} </label> <br>
                            <label for=""> {{accountAcreditor}} </label> <br>
                            <label for=""> Fecha: 15/06/2024 </label> <br>
                        </div>
                        <div class="footer-check">
                            <a href="">Imprimir comprobante</a> <br>
                            <a href="">Volver a Mis Productos</a>
                        </div>
                    </div>
                </section>
                <div class="footer">
                    <section class="button_clean">
                        <div>
                            <button class="mis_productos "> Limpiar </button>
                        </div>
                    </section>
                    <section class="button_next">
                        <div>
                            <button class="mis_productos"> Continuar </button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>