<div class="container">
    <div class="header">
        <div class="main">
           <section>
            <div class="account-info">
                <div class="service-pay">
                    <h5 class="service-tittle"> Pagos de servicios y facturas</h5>
                    <p>Paga a tiempo tus servicios básicos con tu cuenta de ahorros <br>a través de nuestro servicio de PAGOS</p>
                  </div>
                <div  class="tranference-card">
                    <mat-icon class="icon-transference">check_circle</mat-icon>
                    <p class="tranference-success"> Transacción Exitosa</p> 
                </div>
                <div class="footer-check">
                    <a href="">Imprimir  comprobante</a> <br>
                    <a href="dashboard">Volver a Mis Productos</a>
                </div>
            </div>
        </section>
        </div>
    </div>
</div>
